<!DOCTYPE html>
<html>
<head>
  <title>Football Players</title>
</head>
<body>
  <h1>Players</h1>

  <%- include('form') %> <!-- correct syntax -->

  <ul>
    <% players.forEach(player => { %>
      <li>
        <%= player.name %> - <%= player.position %> - <%= player.number %>
        <form action="/players/<%= player.id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
        <form action="/players/<%= player.id %>?_method=PUT" method="POST" style="display:inline;">
          <input name="name" value="<%= player.name %>" />
          <input name="position" value="<%= player.position %>" />
          <input name="number" type="number" value="<%= player.number %>" />
          <button type="submit">Update</button>
        </form>
      </li>
    <% }) %>
  </ul>
</body>
</html>
